<div class="main-wrapper">

  <div class="main-content" ui-view></div>

  <footer class="row text-center attr-footer">
    <div class="left-side">
      <a href="https://github.com/petridw">David Petri</a> 3/2015
    </div>
    <div class="right-side">
      Recipe search powered by <a href='http://www.yummly.com/recipes'><img src="http://s.ym.ly/yummly-website/0c1d19619055db3ad9d7694c71a243cd56577bd2/img/yummly.png" class="yummly-logo"></a>
    </div>
  </footer>
</div>
