<div class="main-wrapper">
  <header class="row">
    <h1 class="col-sm-6 col-sm-offset-3 text-center">
      find your nom
    </h1>
  </header>

  <div class="main-content" ui-view></div>

  <footer class="row text-center attr-footer">
    Recipe search powered by<a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>
  </footer>
</div>