<div class="main-wrapper">
  <header class="row">
    <h1 class="col-sm-6 col-sm-offset-3 text-center">
      <!-- !!! fix this somehow so that keywords and ingredients don't show up in url -->
      <a ui-sref="home({keywords: '', ingredients: ''})" class="main-title">
        get your fridge on.
      </a>
      
      <!-- Fridger it out. -->
      <!-- What's in your fridget? -->
      <!-- Go fridge yourself. -->
      <!-- Fridgin' awesome. -->
      <!-- Fridgeddaboudit -->
      <!-- What the fridge? -->

    </h1>
  </header>

  <div class="main-content" ui-view></div>

  <footer class="row text-center attr-footer">
    Recipe search powered by <a href='http://www.yummly.com/recipes'><img src="http://s.ym.ly/yummly-website/0c1d19619055db3ad9d7694c71a243cd56577bd2/img/yummly.png" class="yummly-logo"></a>
  </footer>
</div>
