

// Ingredient hover animations
.ingredient-hover.ng-enter,
.ingredient-hover.ng-leave {
  transition: 0.4s ease-in all;
}
.ingredient-hover.ng-enter,
.ingredient-hover.ng-leave.ng-leave-active {
  opacity: 0;
}
.ingredient-hover.ng-leave,
.ingredient-hover.ng-enter.ng-enter-active {
  opacity: 1;
}


.card-wide.ng-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.card-wide.ng-enter,
.card-wide.ng-leave.ng-leave-active {
  opacity:0;
}

.card-wide.ng-leave,
.card-wide.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-recipe {
  transition-delay: 1s;
}

.animate-recipe,
.animate-recipe.ng-move {
  // -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  // transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -webkit-transition:all cubic-bezier(.42,0,.58,1) .7s;
  transition:all cubic-bezier(.42,0,.58,1) .7s;
  
}

.animate-recipe,
.animate-recipe.ng-leave {
  -webkit-transition:all cubic-bezier(.42,0,.58,1) .7s;
  transition:all cubic-bezier(.42,0,.58,1) .7s;

  animation: fadeOut;
}

.animate-recipe.ng-leave.ng-leave-active {
  animation: fadeOut;
}


