
// Ingredient list animations
// These potentially don't work because the state change messes them up (not sure though)
.have-ingredient.ng-enter,
.have-ingredient.ng-leave {
  transition: 0.5s ease-in all;
  position: relative;
  display: block;
}
.have-ingredient.ng-leave.have-ingredient.ng-leave-active,
.have-ingredient.ng-enter {
  left: 500px;
}
.have-ingredient.ng-enter.ng-enter-active,
.have-ingredient.ng-leave {
  left: 0;
}


// Ingredient hover animations
.ingredient-hover.ng-enter,
.ingredient-hover.ng-leave {
  transition: 0.4s ease-in all;
}
.ingredient-hover.ng-enter,
.ingredient-hover.ng-leave.ng-leave-active {
  opacity: 0;
}
.ingredient-hover.ng-leave,
.ingredient-hover.ng-enter.ng-enter-active {
  opacity: 1;
}


// Recipe list animations
.animate-recipe.ng-enter,
.animate-recipe.ng-leave {
  transition: 0.5s ease-in all;
  position: relative;
  display: block;
}
.animate-recipe.ng-leave.animate-recipe.ng-leave-active,
.animate-recipe.ng-enter {
  left: 500px;
}
.animate-recipe.ng-enter.ng-enter-active,
.animate-recipe.ng-leave {
  left: 0;
}


// Recipe card animations
// .card-narrow.ng-enter, .card-narrow.ng-leave {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

// .card-narrow.ng-enter,
// .card-narrow.ng-leave.ng-leave-active {
//   opacity:0;
// }

// .card-narrow.ng-leave,
// .card-narrow.ng-enter.ng-enter-active {
//   opacity:1;
// }
.card-wide.ng-enter, .card-wide.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.card-wide.ng-enter,
.card-wide.ng-leave.ng-leave-active {
  opacity:0;
}

.card-wide.ng-leave,
.card-wide.ng-enter.ng-enter-active {
  opacity:1;
}


// .card, {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

