.card {

  //////////////////////////////////////////////////////////////////////////////////
  $base-font-color: #333;
  $base-border-color: gainsboro;
  $base-border-radius: 3px;
  $base-background-color: white;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $base-link-color: $base-accent-color;
  //////////////////////////////////////////////////////////////////////////////////
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 10%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;
  $card-ingredient-color: #56A845;
  //////////////////////////////////////////////////////////////////////////////////

  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  // box-shadow: 0 2px 4px darken($base-background-color, 10%);
  height: 350px;
  margin-bottom: $base-spacing;
  overflow: auto;

  .card-narrow {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  
    .card-image {

      margin: $base-spacing;

      img {
        border-radius: $base-border-radius;
        width: 90px;
        height: 90px;
      }
    }

    .card-header {
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: ($base-spacing / 3) ($base-spacing / 2);


      .card-title {
        display: inline-block;
      }


      p {
        font-weight: 500;
        font-size: 0.9em;
      }
    }

    .card-info {
      margin-top: 5px;
      flex: 1;
    }

    .card-ingredients {
      margin: 0 7px 0 7px;
      overflow: hidden;
      .have-ingredient {
        font-weight: bold;
        color: #56A845;
      }
    }

    &:focus,
    &:hover {
      background-color: $card-hover-background;
    }
  }

  .card-wide {
    // !!! change to fill space horizontally

    padding: 0;
    overflow: hidden;

    .card-header {

      text-align: left;

      .card-header-text {
        margin-left: 300px;
        padding: 20px 15px;
        text-align: center;

        font-size: 1.2em;
        font-weight: bold;

        p {
          padding-top: 1em;
          font-weight: 500;
          font-size: 0.9em;
        }
      }

      img {
        float: left;
        max-width: 300px;
      }
    }
  }

}


