.card {

  $base-font-color: #333;
  $base-border-color: #ccc;
  $base-border-radius: 3px;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $base-link-color: $base-accent-color;

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  // $card-background: darken($base-background-color, 10%);
  $card-background: lighten($base-background-color, 15%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($base-background-color, 7%);
  $card-image-background: #DBD199;
  $card-image-hover-background: darken($card-image-background, 5%);
  $card-margin: 1em;
  $card-ingredient-color: #56A845;

  background-color: $card-background;
  // border-radius: $base-border-radius;
  // border: $card-border;
  // box-shadow: 0 2px 4px darken($base-background-color, 10%);
  height: 475px;
  margin-bottom: $base-spacing;
  box-sizing: border-box;
  overflow: hidden;

  .card-spinner {
    margin-top: 120px;
  }

  .row {
    margin: 0;
  }

  .card-narrow {
    padding: 0;
    display: flex;
    float: left;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
    // max-width: 305px;
  
    .card-image {

      // margin: $base-spacing;
      // margin: 1em;
      height: 305px;

      img {
        background: black;
        max-width: 305px;
        // border-radius: $base-border-radius;
        // max-width: 200px;
        // height: 90px;
      }

    }

    .card-ing-percentage span {
      font-weight: 700;
    }

    .card-header {
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.5em;
      height: 75px;

      .card-title {
        display: inline-block;
        padding-top: 10px;
      }


      p {
        font-weight: 500;
        font-size: 0.9em;
      }
    }

    .card-info {
      margin-top: 5px;
      flex: 1;
      height: 95px;
      overflow: auto;

      .card-rating {
        display: inline-block;
        color: $yummly-font-color;
        padding-right: 10px;
      }

      .card-time {
        display: inline-block;
      }
    }

    .card-ingredients {
      margin: 0 7px;

      .have-ingredient {
        font-weight: bold;
        // color: #56A845;
        color: $blue;
      }
      .list-comma {
        font-weight: normal;
        color: black;
      }
    }

  }

  .card-wide {
    // !!! change to fill space horizontally

    padding: 0;
    float: right;
    overflow: hidden;

    .card-header {

      height: 60px;
      text-align: left;
      overflow: auto;

      .card-header-text {
        // margin-left: 350px;
        padding: 10px 10px 0px 10px;
        text-align: center;

        font-size: 1.2em;
        font-weight: bold;

        p {
          // padding-top: 1em;
          font-weight: 500;
          font-size: 0.9em;
        }
      }

    .card-rating {
      padding: 0;
      text-align: center;
      color: $yummly-font-color;
    }

    }

    .card-info {
      box-sizing: border-box;
      text-align: left;
      height: 405px;
      border-top: $card-border;

      overflow: auto;

      .card-ingredients {
        padding-top: 10px;
      }

      ul {
        list-style-type: none;
        padding-left: 15px;
        i {
          padding-right: 2px;
        }
      }
    }

  }

  &:focus,
  &:hover {
    background-color: $card-hover-background;
    .img-responsive {
      opacity: .8;
    }
  }

}

// .selected-card {
//   .card-narrow {
//     .card-image {
//       .img-responsive {
//         max-width: 100%;
//       }
//     }
//   }
// }


