.card {

  $base-font-color: #333;
  $base-border-color: #ccc;
  $base-border-radius: 3px;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $base-link-color: $base-accent-color;

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  // $card-background: darken($base-background-color, 10%);
  $card-background: white;
  $card-header-background: $card-background;
  $card-hover-background: darken($card-background, 15%);
  $card-image-background: #DBD199;
  $card-image-hover-background: darken($card-image-background, 5%);
  $card-margin: 1em;
  $card-ingredient-color: #56A845;

  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  // box-shadow: 0 2px 4px darken($base-background-color, 10%);
  height: 350px;
  margin-bottom: $base-spacing;
  box-sizing: border-box;
  overflow: auto;

  .card-rating {
    color: $yummly-font-color;
  }

  .card-spinner {
    margin-top: 120px;
  }

  .card-narrow {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  
    .card-image {

      // margin: $base-spacing;
      margin: 1em;

      img {
        border-radius: $base-border-radius;
        width: 90px;
        height: 90px;
      }
    }

    .card-ing-percentage span {
      font-weight: 700;
    }

    .card-header {
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: ($base-spacing / 3) ($base-spacing / 2);


      .card-title {
        display: inline-block;
      }


      p {
        font-weight: 500;
        font-size: 0.9em;
      }
    }

    .card-info {
      margin-top: 5px;
      flex: 1;
    }

    .card-ingredients {
      margin: 0 7px 0 7px;
      overflow: hidden;
      .have-ingredient {
        font-weight: bold;
        // color: #56A845;
        color: $blue;
      }
      .list-comma {
        font-weight: normal;
        color: black;
      }
    }

    &:focus,
    &:hover {
      background-color: $card-hover-background;
    }
  }

  .card-wide {
    // !!! change to fill space horizontally

    padding: 0;
    overflow: hidden;

    .card-image {
      img {
          float: left;
          max-width: 348px;
          max-height: 348px;
        }
    }

    .card-header {

      height: 118px;
      text-align: left;
      overflow: auto;

      .card-header-text {
        // margin-left: 350px;
        padding: 10px 10px 0px 10px;
        text-align: center;

        font-size: 1.2em;
        font-weight: bold;

        p {
          // padding-top: 1em;
          font-weight: 500;
          font-size: 0.9em;
        }
      }

    .card-rating {
      padding: 0;
      text-align: center;
      color: $yummly-font-color;
    }

    }

    .card-info {
      box-sizing: border-box;
      height: 100%;
      text-align: left;
      margin-left: 350px;
      height: 230px;
      border-top: $card-border;
      overflow: auto;

      ul {
        list-style-type: none;
        padding-left: 15px;
        i {
          padding-right: 2px;
        }
      }
    }
  }

}


