.main-content {
  padding: 0 30px 0 30px;
}

.attr-footer {
  height: 40px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin: 0;
  padding: 5px 0 5px 0;
  background: white;
  border-top: $base-border;
}