.spinner {
  margin-bottom: 15px;
}

.have-ingredient-list {

  $ingredient-background: white;
  $ingredient-hover-background: darken($ingredient-background, 10%);
  $ingredient-font-color: lighten(black, 13%);

  .have-ingredient {
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 3px;
    padding: 2px;
    background-color: $ingredient-background;
    color: $ingredient-font-color;

    &:focus,
    &:hover {
      background-color: $ingredient-hover-background;
      cursor: pointer;
      cursor: hand;
    }

    .ingredient-hover {
      position: absolute;
      margin: 0;
      // left: 0;
      right: 0;
      top: 0;
      color: #CA3128;
    }
  }

}

.search-submit-button {
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 2em;
  padding: 3px 7px;

  .fa.fa-cutlery {
    font-size: .85em;
    padding-right: 3px;

  }

}
