.search-section {
  font-family: $base-font-family;
  // font-weight: 700;
  font-size: 1.2em;
}

.spinner {
  margin-bottom: 15px;
}

.have-ingredient-list {

  $ingredient-background: white;
  $ingredient-hover-background: darken($ingredient-background, 10%);
  $ingredient-font-color: $blue;
  $ingredient-font-family: $title-font-family;

  .have-ingredient {
    display: inline-block;
    position: relative;
    font-family: $ingredient-font-family;
    font-weight: bold;
    font-size: 2em;
    padding-left: 3px;
    // border: 1px solid grey;
    // border-radius: 4px;
    // margin: 3px;
    // padding: 2px;
    // background-color: $ingredient-background;
    color: $ingredient-font-color;

    &:focus,
    &:hover {
      background-color: $ingredient-hover-background;
      border-radius:8px;
      cursor: pointer;
      cursor: hand;
    }

    .ingredient-hover {
      position: absolute;
      font-size: 20px;
      margin: 0;
      // left: 0;
      right: 0;
      top: 0;
      color: #CA3128;
    }



    &.excluded {
      text-decoration: line-through;
      color: $yummly-font-color;

      .list-comma {
        text-decoration: none;
      }
    }
  }

}

.search-submit-button {
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 2em;
  padding: 3px 7px;
  // border: 2px outset #b37d00;

  // cheesy drop shadow thing:
  // border-bottom: 3px outset $blue;
  // border-right: 3px outset $blue;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    border-bottom: 3px inset $blue;
    border-right: 3px inset $blue;
    outline: 0;
  }

  .fa.fa-cutlery {
    font-size: .85em;
    padding-right: 3px;

  }

}

.ingredient-forms {
  .ingredient-input {
    // width: 100%;



    // .form-group {

    //   .form-control {
    //     width: 65%;
    //   }

    //   button {
    //     max-width: 5px;
    //   }
    // }
  }

}

.order-by-form {
  margin-bottom: 15px;
  .save-search, .reset-search {
    margin-left: 3px;
    display: inline-block;
    float: right;
  }
}