.search-section {
  font-family: $base-font-family;
  // font-weight: 700;
}

.search-results-section {
  margin-bottom: 15px;
}

.spinner {
  margin-bottom: 15px;
}

.ingredient-input {
  label {
    text-align: right;
  }
}

.ingredient-lists {

  margin-top: 15px;

  .have-ingredient-list {

    $ingredient-background: lighten($base-background-color, 5%);
    $ingredient-list-background: lighten($base-background-color, 5%);;
    $ingredient-hover-background: darken($ingredient-background, 15%);
    $ingredient-font-color: $blue;
    $ingredient-font-family: $title-font-family;

    border: $base-border;
    background: $ingredient-list-background;
    border-radius: 4px;
    margin: 0;
    list-style-type: none;
    padding: 5px 0 5px 30px;
    // text-align: center;

    .info-message {
      color: lighten(black, 60%);
    }

    .have-ingredient {
      // display: inline-block;
      // position: relative;
      // font-family: $ingredient-font-family;
      // font-weight: bold;
      // font-size: 1.4em;
      // padding-left: 3px;
      // border-radius: 4px;
      // margin: 3px;
      // padding: 2px;
      // background-color: $ingredient-background;
      // color: $ingredient-font-color;

      li {
        padding: 2px 0 2px 0;
      }

      &:focus,
      &:hover {
        background-color: $ingredient-hover-background;
        cursor: pointer;
        cursor: hand;
      }

      .ingredient-hover {
        position: absolute;
        font-size: 20px;
        margin: 0;
        // left: 0;
        right: 5px;
        top: 0;
        // color: #CA3128;
        color: $yummly-font-color;
      }



      &.excluded {
        text-decoration: line-through;
        color: $yummly-font-color;

        .list-comma {
          text-decoration: none;
        }
      }
    }
  }
}

.search-submit-button {
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 2em;
  padding: 3px 7px;
  margin-top: 15px;
  // border: 2px outset #b37d00;

  // cheesy drop shadow thing:
  // border-bottom: 3px outset $blue;
  // border-right: 3px outset $blue;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    border-bottom: 3px inset $blue;
    border-right: 3px inset $blue;
    outline: 0;
  }

  .fa.fa-cutlery {
    font-size: .85em;
    padding-right: 3px;

  }

}


.order-by-form {
  margin-bottom: 15px;
  .save-search, .reset-search {
    margin-left: 3px;
    display: inline-block;
    float: right;
  }
}