<!-- -------------------- Search Form -------------------- -->
<section class="row">
  <form ng-submit= "vm.search()">

    <!-- keywords input -->
    <div class="form-group col-sm-6 col-sm-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input  type="text" 
              autofocus="{{vm.keywords.length <= 0}}"
              ng-model="vm.keywords" 
              name="keywords" 
              class="form-control" 
              placeholder="Recipe name or keyword">
    </div>

    <!-- have ingredients list -->
    <div class="have-ingredient-list form-group col-sm-6 col-sm-offset-3 text-center" ng-if="vm.ingredientList.ingredients.length > 0">
      <span class="have-ingredient"
            ng-repeat="ingredient in vm.ingredientList.ingredients" 
            ng-mouseenter="vm.hoveredIngredient = $index" 
            ng-mouseleave="vm.hoveredIngredient = -1" 
            ng-click="vm.removeIngredient(ingredient)">
        {{ingredient}}
        <i class="fa fa-minus-square ingredient-hover" ng-if="vm.hoveredIngredient === $index"></i>
        </span>
    </div>

    <!-- included ingredients input -->
    <div class="form-group col-sm-5 col-sm-offset-3 text-center">
      <label for="ingredients" class="sr-only">Ingredients</label>
      <input  typeahead="ingredient as ingredient.searchValue for ingredient in vm.ingredientsData | filter:$viewValue | limitTo:10" 
              typeahead-on-select="vm.onSelect($item, $model, $label)" 
              class="form-control" type="text"
              placeholder="Ingredient to include, e.g. butter"
              ng-model="vm.includeIngredient"
              autofocus="{{vm.keywords.length>0}}">
    </div>
    <div class="form-group col-sm-1 text-right">
      <button ng-click="!vm.includeIngredient || vm.addIngredient()" class="btn btn-default text-center">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <!-- exclude ingredients list -->
    <div class="have-ingredient-list form-group col-sm-6 col-sm-offset-3 text-center" ng-if="vm.ingredientList.ingredients.length > 0">
      <span class="have-ingredient"
            ng-repeat="ingredient in vm.ingredientList.ingredients" 
            ng-mouseenter="vm.hoveredIngredient = $index" 
            ng-mouseleave="vm.hoveredIngredient = -1" 
            ng-click="vm.removeIngredient(ingredient)">
        {{ingredient}}
        <i class="fa fa-minus-square ingredient-hover" ng-if="vm.hoveredIngredient === $index"></i>
        </span>
    </div>

    <!-- excluded ingredients input -->
    <div class="form-group col-sm-5 col-sm-offset-3 text-center">
      <label for="ingredients" class="sr-only">Ingredients</label>
      <input  typeahead="ingredient as ingredient.searchValue for ingredient in vm.ingredientsData | filter:$viewValue | limitTo:10" 
              typeahead-on-select="vm.onSelect($item, $model, $label)" 
              class="form-control" type="text"
              placeholder="Ingredient to exclude, e.g. curry leaf"
              ng-model="vm.excludeIngredient"
              autofocus="{{vm.keywords.length>0}}">
    </div>
    <div class="form-group col-sm-1 text-right">
      <button ng-click="!vm.excludeIngredient || vm.excludeIngredient()" class="btn btn-default text-center">
        <i class="fa fa-minus"></i>
      </button>
    </div>

    <!-- submit form -->
    <div class="form-group col-sm-6 col-sm-offset-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">
        get cooking <i class="fa fa-cutlery"></i>
      </button>
    </div>
  </form>
</section>

<!-- -------------------- Spinner -------------------- -->
<section ng-if="vm.loading" class="row">
  <div class="col-sm-2 col-sm-offset-5 text-center spinner">
    <p>Finding you something sweet sweet like bear meat</p>
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
  </div>
</section>

<form ng-if="vm.searchResults" class="row">

  <div class="form-group col-sm-2 col-sm-offset-5 text-center">
    <label for="order-by">Order by:</label>
    <select name="order-by" class="form-control" ng-model="vm.order" name="Order by">
      <option value="recipeName">Recipe Name</option>
      <option value="rating">Rating</option>
      <option value="ingredientPercentage">Ingredient Percentage</option>
      <option value="totalTimeInSeconds">Time</option>
    </select>
  </div>

  <div class="form-group col-sm-2 col-sm-offset-5 text-center">
    <button type="button" class="btn btn-info" ng-click="vm.reverse = !vm.reverse">
      Order
      <i class="fa" ng-class="{ 'fa-arrow-circle-up': vm.reverse, 'fa-arrow-circle-down': !vm.reverse }"></i>
    </button>
  </div>
</form>

<!-- -------------------- List of Recipes -------------------- -->
<section ng-if="vm.searchResults" infinite-scroll="vm.loadMoreResults()"  class="row text-center">

  <!-- selected-card class can override all normal card styles bc of specificity of the css selector -->
  <div  ng-repeat="recipe in vm.recipes | filter:vm.matchIngredients() | orderBy:vm.order:vm.reverse | limitTo:vm.limit" 
        ng-class="{true: 'selected-card col-lg-6 col-md-8 col-sm-10', false: 'col-lg-2 col-md-3 col-sm-4'}[recipe.isSelected]">
    <div class="card" ng-click="vm.clickRecipe(recipe)">

      <!-- only displayed when the card is unselected -->
      <div class="card-narrow" ng-if="!recipe.isSelected" >

        <!-- !!! change header so that image and text are side by side taking up half the space in the card -->
        <div class="card-header">
          <div class="card-image">
            <img class="" ng-src="{{ recipe['imageUrlsBySize']['90'] || vm.noImageUrl }}" alt="{{recipe.recipeName}} image" >
          </div>
          <div class="card-title">
            {{recipe.recipeName}}
            <p>{{ recipe.sourceDisplayName }}</p>
          </div>
        </div>
        <div class="card-info">
          <div class="card-rating">
            <span ng-repeat="i in [0, 1, 2, 3, 4]">
              <i ng-if="recipe.rating > i" class="fa fa-star"></i>
              <i ng-if="recipe.rating <= i" class="fa fa-star-o"></i>
            </span>
          </div>
          <div class="card-ing-percentage">
            Ingredients: {{recipe.ingredientPercentage}}%
          </div>
          <div class="card-time">
            <span ng-if="recipe.totalTimeInSeconds">Time: {{recipe.totalTimeInSeconds | secondsToString}}</span>
          </div>
          <div class="card-ingredients">
            <p>
              <span ng-class="{'have-ingredient': vm.ingredientList.hasIngredientMatch(ingredient)}" 
                    ng-repeat="ingredient in recipe.ingredients">
                {{ingredient}}<span class="list-comma">{{$last ? '' : ', '}}</span>
              </span>
            </p>
          </div>
        </div>
      </div>

      <!-- only displayed when this card is selected -->
      <div class="card-wide" ng-if="recipe.isSelected">
        
        <!-- show spinner while api call still running -->
        <div ng-if="recipe.isLoading" class="text-center spinner">
          <p>Hold up a sec while we wrangle this recipe</p>
          <i class="fa fa-spinner fa-pulse fa-4x"></i>
        </div>

        <!-- show card content once it's loaded -->
        <div ng-if="!recipe.isLoading">

          <div class="card-header">
            <img ng-src="{{ recipe.expandedInfo.images[0].imageUrlsBySize['360'] || vm.noImageUrl }}" alt="{{recipe.recipeName}} large image">
            <div class="card-header-text">
              <h4>{{recipe.recipeName}}</h4>
              <a  ng-click="$event.stopPropagation();" ng-href="{{ recipe.expandedInfo.source.sourceRecipeUrl }}">
                <p>View recipe steps at {{recipe.sourceDisplayName}}</p>
              </a>
            </div>
          </div>

          <div class="card-info">
            
          </div>

        </div>

      </div>


    </div>
  </div>
</section>
