<header class="row">

  <h1 class="col-sm-6 col-sm-offset-3 text-center">
    <!-- link to home/reset search -->
    <a ui-sref="home({keywords: '', ingredients: '', excludedIngredients: ''})" class="main-title">
      what's in your fridge?
    </a>
  </h1>

</header>

<p class="text-center">The recipe search based on the ingredients you have on hand.</p>




<section class="search-section">


  <form class="form-horizontal" ng-submit= "vm.search()">

    <!-- keywords input -->

    <div class="form-group">
      <label for="keywords" class="sr-only control-label">Search keywords</label>
      <div class="col-sm-6 col-sm-offset-3">
        <input  type="text" 
              autofocus="{{vm.keywords.length <= 0}}"
              ng-model="vm.keywords" 
              name="keywords" 
              class="form-control" 
              placeholder="Recipe name or keyword, e.g. Tomato Soup">
      </div>
    </div>
  </form>

  <!-- -------------------- Ingredient Form -------------------- -->
  <form ng-submit="!vm.ingredient || vm.addIngredient(false)">
    <!-- included ingredients input -->
    <div class="row ingredient-input">

      <label for="include-ingredient-input" class="sr-only control-label">
        Ingredients
      </label>
      <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
          <input  typeahead="ingredient as ingredient.searchValue for ingredient in vm.ingredientsData | filter:$viewValue | limitTo:10" 
                  typeahead-on-select="vm.onSelect($item, $model, $label)" 
                  class="form-control" type="text"
                  name="include-ingredient-input"
                  placeholder="Include or exclude an ingredient"
                  ng-model="vm.ingredient"
                  autofocus="{{vm.keywords.length>0}}">

          <span class="input-group-btn">
            <button type="button" ng-click="!vm.ingredient || vm.addIngredient(false)" class="btn btn-default text-center" >
              <i class="fa fa-plus"></i>
              Include
            </button>
            <button type="button" ng-click="!vm.ingredient || vm.addIngredient(true)" class="btn btn-default text-center">
              <i class="fa fa-minus"></i>
              Exclude
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>

  <!-- -------------------- Exclude Ingredient Form -------------------- -->
<!--   <form class="form-inline" ng-submit="!vm.excludeIngredient || vm.addIngredient(true)">
    ... but I don't have any:
    <div class="form-group ingredient-input">
      <label for="ingredients" class="sr-only">Ingredient to exclude from search</label>
      <input  typeahead="ingredient as ingredient.searchValue for ingredient in vm.ingredientsData | filter:$viewValue | limitTo:10" 
              typeahead-on-select="vm.onSelectExclude($item, $model, $label)" 
              class="form-control" type="text"
              name="exclude-ingredient-input"
              placeholder="Ingredient to exclude"
              ng-model="vm.excludeIngredient">


    </div>
  </form> -->



  <!-- -------------------- Ingredient Lists -------------------- -->
  <div class="row ingredient-lists">

    <div class="col-sm-3 col-sm-offset-3">
      <ul class="have-ingredient-list fa-ul">
        <li class="have-ingredient"
            ng-repeat="ingredient in vm.ingredientList.ingredients" 
            ng-mouseenter="vm.hoveredIngredient = $index" 
            ng-mouseleave="vm.hoveredIngredient = -1" 
            ng-click="vm.removeIngredient(ingredient, false)">
          <i class="fa-li fa fa-check-square"></i>{{ingredient}}
          <i class="fa fa-minus-square ingredient-hover" ng-if="vm.hoveredIngredient === $index"></i>
        </li>
        <li class="info-message" ng-if="vm.ingredientList.ingredients.length === 0">
          <i class="fa-li fa fa-check-square"></i>
          Included ingredients...
        </li>
      </ul>
    </div>

    <div class="col-sm-3">
      <ul class="have-ingredient-list fa-ul">
        <li class="have-ingredient"
            ng-repeat="ingredient in vm.ingredientList.excludedIngredients" 
            ng-mouseenter="vm.hoveredExcludedIngredient = $index" 
            ng-mouseleave="vm.hoveredExcludedIngredient = -1" 
            ng-click="vm.removeIngredient(ingredient, true)">
          <i class="fa-li fa fa-remove"></i>{{ingredient}}
          <i class="fa fa-minus-square ingredient-hover" ng-if="vm.hoveredExcludedIngredient === $index"></i>
        </li>
        <li class="info-message" ng-if="vm.ingredientList.excludedIngredients.length === 0">
          <i class="fa-li fa fa-remove"></i>
          Excluded ingredients...
        </li>
      </ul>
    </div>
    <!------ exclude ingredients list ------>
<!--     <div class="have-ingredient-list form-group col-sm-5 text-center">
      <span class="have-ingredient excluded"
            ng-repeat="ingredient in vm.ingredientList.excludedIngredients" 
            ng-mouseenter="vm.hoveredExcludedIngredient = $index" 
            ng-mouseleave="vm.hoveredExcludedIngredient = -1" 
            ng-click="vm.removeIngredient(ingredient, true)">
        {{ingredient}}<span class="list-comma">{{$last ? '' : ', '}}</span>
        <i class="fa fa-minus-square ingredient-hover" ng-if="vm.hoveredExcludedIngredient === $index"></i>
        </span>
    </div> -->

  </div>


  <!-- -------------------- Main Search Button -------------------- -->

  <div class="row">
    <form ng-submit="vm.search()">
      <!-- submit form -->
      <div class="form-group col-sm-6 col-sm-offset-3 text-center">
        <button type="submit" class="btn btn-primary btn-lg search-submit-button">
          <i class="fa fa-cutlery"></i> get cooking!
        </button>
      </div>
    </form>
  </div>

</section>


<!-- -------------------- Spinner -------------------- -->
<section ng-if="vm.loading" class="row">
  <div class="col-sm-2 col-sm-offset-5 text-center spinner">
    <p>Finding you something sweet sweet like bear meat</p>
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
  </div>
</section>



<!-- -------------------- Recipe List Options Bar -------------------- -->

<form ng-if="vm.searchResults" class="form-inline order-by-form">

  <div class="form-group">
    <!-- <label for="order-by">Order by</label> -->

    <span title="Order by">
    <label for="order-by">Order by</label>
    <select name="order-by" class="form-control" ng-model="vm.order" name="Order by">
      <option value="recipeName">Recipe Name</option>
      <option value="rating">Recipe Rating</option>
      <option value="totalIngredients"># of Ingredients</option>
      <option value="ingredientPercentage">Ingredients On Hand</option>
      <option value="totalTimeInSeconds">Preperation Time</option>
    </select>
    </span>
  </div>

  <span title="Reverse order">
      <button type="button" class="btn btn-default text-right" ng-click="vm.reverse = !vm.reverse">
        <i class="fa" ng-class="{ 'fa-arrow-circle-up': vm.reverse, 'fa-arrow-circle-down': !vm.reverse }"></i>
      </button>
  </span>

  <span title="Copy this search address" class="save-search">
    <button type="button" class="btn btn-default">
      <i class="fa fa-bookmark"></i>
    </button>
  </span>

  <span title="Reset search" class="reset-search">
    <a ui-sref="home({keywords: '', ingredients: '', excludedIngredients: ''})" class="main-title">
      <button type="button" class="btn btn-default">
        <i class="fa fa-bomb"></i>
      </button>
    </a>
  </span>

</form>



<!-- -------------------- List of Recipes -------------------- -->
<section ng-if="vm.searchResults" infinite-scroll="vm.loadMoreResults()"  class="row search-results-section text-center">

  <!-- selected-card class can override all normal card styles bc of specificity of the css selector -->
  <div  ng-repeat="recipe in vm.recipes | filter:vm.matchIngredients() | orderBy:vm.order:vm.reverse | limitTo:vm.limit" 
        ng-class="{true: 'selected-card col-lg-6 col-md-6 col-sm-8 col-xs-12', false: 'col-lg-3 col-md-3 col-sm-4 col-xs-6'}[recipe.isSelected]"
        class="animate-recipe animated fadeIn">
    <div class="card card-{{recipe.id}}" ng-click="vm.clickRecipe(recipe)" >

      <!---------- only displayed when the card is unselected -------- -->

      <div class="row">

        <div class="card-narrow" ng-class="{ 'col-xs-6': (recipe.isSelected), 'col-xs-12': !recipe.isSelected }">

          <!-- !!! change header so that image and text are side by side taking up half the space in the card -->
          <div class="card-image">
            <img class="img-responsive" ng-src="{{ recipe['imageUrlsBySize']['card'] }}" alt="{{recipe.recipeName}} image" >
          </div>
          <div class="card-header">
            <div class="card-title">
              {{recipe.recipeName}}
              <p>{{ recipe.sourceDisplayName }}</p>
            </div>
          </div>

          <div class="card-info">
            <div class="card-rating">
              <span ng-repeat="i in [0, 1, 2, 3, 4]">
                <i ng-if="recipe.rating > i" class="fa fa-star"></i>
                <i ng-if="recipe.rating <= i" class="fa fa-star-o"></i>
              </span>
            </div>
            <div class="card-time">
              <span ng-if="recipe.totalTimeInSeconds">
                <i class="fa fa-clock-o"></i> {{recipe.totalTimeInSeconds | secondsToString}}
              </span>
            </div>
            <div class="card-ing-percentage">
              <span>Ingredients:</span> {{recipe.ingredientPercentage}}% ({{recipe.ingredientMatches}} / {{recipe.totalIngredients}})
            </div>
            <div class="card-ingredients">
              <p>
                <span ng-class="{'have-ingredient': vm.ingredientList.hasIngredientMatch(ingredient)}" 
                      ng-repeat="ingredient in recipe.ingredients">
                  {{ingredient}}<span class="list-comma">{{$last ? '' : ', '}}</span>
                </span>
              </p>
            </div>
          </div>

        </div>


        <!-- ------- only displayed when this card is selected ------- -->
        <div class="card-wide col-xs-6" ng-if="recipe.isSelected">
          
          <!-- show spinner while api call still running -->
          <div ng-if="recipe.isLoading" class="text-center card-spinner">
            <p>Hold up a sec while we wrangle this recipe</p>
            <i class="fa fa-spinner fa-pulse fa-4x"></i>
          </div>

          <!-- show card content once it's loaded -->
          <div ng-if="!recipe.isLoading">

            <div class="card-header">

              <div class="card-header-text">
                <a ng-click="$event.stopPropagation();" ng-href="{{ recipe.expandedInfo.source.sourceRecipeUrl }}">
                  View full recipe steps at {{recipe.sourceDisplayName}}
                </a>
              </div>

            </div>

            <div class="card-info">

              <div class="card-ingredients">
                <ul class="fa-ul">
                  <li ng-repeat="ingredient in recipe.expandedInfo.ingredientLines track by $index"
                      ng-class="{'have-ingredient': vm.ingredientList.hasIngredientMatch(ingredient)}">
                    <i class="fa fa-li fa-cutlery"></i> {{ingredient}}
                    <!-- <i class="icon icon-pot"></i> {{ingredient}} -->
                  </li>
                </ul>
                <p ng-if="recipe.expandedInfo.ingredientLines.length < 1">
                  We were unable to obtain the full ingredient list for this recipe, so you'll have to check it out at 
                  <a ng-click="$event.stopPropagation();" ng-href="{{ recipe.expandedInfo.source.sourceRecipeUrl }}">{{recipe.sourceDisplayName}}</a>
                </p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="no-search-results">
    
  </div>
</section>
